<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="widtdevice-width, inital-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="dashboard-container">
    <div id="dashboard-navigation">
      <ul class="nav-list">
        <li>
          <a id="nav-btn home-btn" href="#">
            <span class="icon"></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a id="nav-btn home-btn" href="#">
            <span class="icon"></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a id="nav-btn home-btn" href="#">
            <span class="icon"></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a id="nav-btn home-btn" href="#">
            <span class="icon"></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a id="nav-btn home-btn" href="#">
            <span class="icon"></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li>
          <a id="nav-btn home-btn" href="#">
            <span class="icon"></span>
            <span class="title">Home</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
