* {margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
:root {--blue: #287bff;--red: #f84b2c;--white: #fff;--grey: #f5f5f5;--black: #222;--black2: #999;}
body {min-height: 100vh;overflow-x: hidden;}
#dashboard-container {position: relative;height: 100vh;width: 100%;}
/* Dashboard Navigation */
#dashboard-navigation {position: fixed;width: 200px;height: 100%;background-color: var(--blue);border-left: 10px solid var(--blue);transition: .3s;user-select: none;overflow-x: hidden;clip: auto;}
#dashboard-navigation.default {width: 200px !important;border-width: 10px !important;}
#dashboard-navigation.minimized {width: 60px;border-width: 3px;}
#dashboard-navigation.hidden {width: 0px;border-width: 0px;}
#dashboard-navigation ul {position: absolute;top: 0;left: 0;width: 100%;padding: 0;}
#dashboard-navigation ul li {position: relative;list-style: none;width: 100%;border-top-left-radius: 30px;border-bottom-left-radius: 30px;}
#dashboard-navigation ul li:hover, #dashboard-navigation ul li.hovered {background-color: var(--white)}
#dashboard-navigation ul li:first-child {margin-bottom: 40px;pointer-events: none}
#dashboard-navigation ul li a {position: relative;display: flex;width: 100%;color: var(--white);text-decoration: none;align-items: center;}
#dashboard-navigation ul li:hover a, #dashboard-navigation ul li.hovered a {color: var(--blue);}
#dashboard-navigation ul li a .icon {position: relative;display: flex;min-width: 50px;height: 50px;align-items: center;justify-content: center;}
#dashboard-navigation ul li a .icon .fa {font-size: 1.75em}
#dashboard-navigation ul li a .title {position: relative;display: block;padding: 0px 10px;height: 50px;line-height: 50px;text-align: start;overflow: hidden;}
#dashboard-navigation.minimized ul li a .title {display: none;}
#dashboard-navigation ul li:hover a:before, #dashboard-navigation ul li.hovered a:before {content: '';position: absolute;top: -50px;right: 0;width: 50px;height: 50px;border-radius: 50%;box-shadow: 35px 35px 0 10px var(--white);pointer-events: none;}
#dashboard-navigation ul li:hover a:after, #dashboard-navigation ul li.hovered a:after {content: '';position: absolute;top: 50px;right: 0;width: 50px;height: 50px;border-radius: 50%;box-shadow: 35px -35px 0 10px var(--white);pointer-events: none;}
/* Dashboard Main */
#dashboard-main {position: relative;width: calc(100vw - 200px);left: 200px;min-height: 100vh;height: 100vh;overflow: auto;background-color: var(--grey);transition: .3s;user-select: none}
#dashboard-main.default {width: 100vw !important;left: 200px;}
#dashboard-main.extended {left: 60px;width: calc(100% - 60px);}
#dashboard-main.full {left: 0px;width: 100vw;}
#dashboard-topbar {position: fixed;background-color: var(--grey);left: 200px;right: 0;height: 50px;display: flex;justify-content: space-between;align-items: center;padding: 0 10px;transition: .3s;z-index: 2;}
#dashboard-topbar.default, .container-shadow.default {width: 100vw !important;}
#dashboard-topbar.extended, .container-shadow.extended {width: calc(100% - 60px);left: 60px;}
#dashboard-topbar.full, .container-shadow.full {left: 0;width: 100vw}
#dashboard-topbar .toggle-nav {width: 30px;height: 30px;padding: 2px;font-size: 20px;cursor: pointer;border-radius: 4px;border: 1px solid transparent;transition: .3s}
#dashboard-topbar .toggle-nav:hover {border-color: #ccc;box-shadow: 0px 0px 4px #000;}
.container-shadow {box-shadow: inset 0 5px 6px -3px rgba(0, 0, 0, .4);height: 6px;margin: 0 0 -6px;opacity: 0;pointer-events: none;position: fixed;top: 50px;left: 200px;right: 0;width: 100%;transition: .3s;z-index: 2;}
.container-shadow.has-shadow {opacity: 1;}
/* Search bar */
#search .form-padding {width: auto;max-width: 584px;position: relative;margin: 0 auto;padding-top: 6px;}
#search .form-content {width: auto;max-width: 580px;background: #fff;display: flex;border: 1px solid #dfe1e5;box-shadow: none;border-radius: 24px;z-index: 3;height: 44px;margin: 0 auto;}
#search .form-fake-box {flex: 1;display: flex;padding: 5px 8px 0 16px;padding-left: 14px;}
#search .search-icon {display: flex;align-items: center;padding-right: 13px;margin-top: -5px;}
#search .search-margin {margin: auto}
#search .search-icon svg {margin-top: 11px;color: #9aa0a6;height: 20px;width: 20px;display: inline-block;fill: currentColor;line-height: 24px;position: relative;}
#search .input-box {display: flex;flex: 1;flex-wrap: wrap;}
#search .input-box input {outline: none;border: none;margin: 0;padding: 0;word-wrap: break-word;flex: 100%;background-color: transparent;color: rgba(0,0,0,0.87);height: 34px;font-size: 16px;}
#search .large-padding-top {padding-top: 18px;top: 53px;z-index: 0;height: 70px;}
input[type="submit"] {background-color: #f8f9fa;border: 1px solid #f8f9fa;border-radius: 4px;color: #3c4043;font-family: arial,sans-serif;font-size: 14px;margin: 11px 4px;padding: 0 16px;line-height: 27px;height: 36px;min-width: 54px;text-align: center;cursor: pointer;user-select: none;}
/* User profile */
#user-id-anchor {color:lightgray;text-decoration:none;width:100%}
#user-id-container {font-size: 16px;padding: 15px 0;width: 100%;font-family: Roboto Mono;text-align:center;cursor: pointer;box-sizing: border-box;z-index: 18}
#user-id-img {height:40px;width:40px;border-radius:50%}
.ew_ka.ew_0a.ew_gla {max-height: -moz-calc(100vh - 62px - 100px);max-height: calc(100vh - 62px - 100px);z-index: 12}
.ew_ka.ew_0a {overflow-y: auto;overflow-x: hidden;}
.ew_ka.ew_0a {-moz-border-radius: 8px;border-radius: 8px;margin-left: 12px;}
.ew_0a {outline: none;transform: translateZ(0);}
.ew_E {background: #fff;border: 1px solid #ccc;border-color: rgba(0,0,0,.2);color: #000;-moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);box-shadow: 0 2px 10px rgb(0 0 0 / 20%);display: none;outline: none;overflow: hidden;position: absolute;right: 8px;top: 287px;-moz-animation: ew__a .2s;animation: ew__a .2s;-moz-border-radius: 2px;border-radius: 2px;user-select: text;}
.ew_ka>.ew_9a {margin: 20px 33px;}
.ew_9a {margin: 20px;white-space: nowrap;}
.ew_ka .ew_a {margin-bottom: 10px;position: relative;height: 86px;width: 86px;}
.ew_ka .ew_a, .ew_ka .ew_bb {display: block;text-align: center;}
.ew_a, .ew_bb {display: inline-block;vertical-align: top;margin: 0 auto;}
.ew_Ha {border: none;margin-right: 6px;vertical-align: top;height: 80px;width: 80px;border-radius: 50%;}
.ew_eb {-moz-border-radius: 50%;border-radius: 50%;overflow: hidden;}
.ew_ka .ew_ib {background: #fff;bottom: 0;position: absolute;right: 0;overflow: visible;height: 32px;width: 32px;}
.ew_eb {-moz-border-radius: 50%;border-radius: 50%;overflow: hidden}
.ew_pa a, .ew_Ac a {color: inherit;}
.ew_jg {bottom: 0;-moz-box-shadow: -15 1px 1px 0 rgba(65,69,73,0.3),0 1px 3px 1px rgba(65,69,73,0.15);box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);margin: 0px 2.5px 3px;outline: 0;position: absolute;right: 0;height: 26px;width: 26px;}
.ew_eb {-moz-border-radius: 50%;border-radius: 50%;overflow: hidden;}
.ew_jb:hover>svg.gb_kb, .ew_jb:focus>svg.gb_kb, .ew_jb:active>svg.gb_kb {fill: #1a73e8;}
.ew_jb>svg.ew_kb, .ew_wb>svg.ew_xb, .ew_yb>svg.ew_zb {color: #5f6368;fill: currentColor;}
.ew_pa svg, .ew_Ac svg, .ew_Wc .ew_Zd, .ew_Mc .ew_Zd {color: #5f6368;opacity: 1;}
.ew_pa svg {fill: currentColor;}
.ew_ka .ew_lb {color: #202124;font: 500 16px/22px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;letter-spacing: 0.29px;margin: 0;text-align: center;text-overflow: ellipsis;overflow: hidden;}
.ew_k .ew_nb {color: #5f6368;font: 400 14px/19px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;letter-spacing: normal;text-align: center;text-overflow: ellipsis;overflow: hidden;}
.ew_rb.ew_rb {background-color: #ffffff;border: 1px solid #dadce0;-moz-border-radius: 100px;border-radius: 100px;color: #3c4043;display: inline-block;font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;letter-spacing: 0.25px;margin: 16px 0 0;max-width: 254px;outline: 0;padding: 8px 16px;text-align: center;text-decoration: none;text-overflow: ellipsis;overflow: hidden;}
.ew_Qb {overflow-x: hidden;}
.ew_Bb {border-bottom: 1px solid #e8eaed;border-top: 1px solid #e8eaed;padding: 0 17px;text-align: center}
.ew_Cb.ew_Cb {color: #3c4043;}
.ew_Cb.ew_Cb, .ew_Db.ew_Db {background-color: #ffffff;border: 1px solid #dadce0;-moz-border-radius: 4px;border-radius: 4px;display: inline-block;font: 500 14px/16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;letter-spacing: .15px;margin: 16px;outline: 0;padding: 10px 24px;text-align: center;text-decoration: none;white-space: normal;}
.ew-r5 {display: block}
.ew_3c:hover {background-color: var(--blue);color: var(--white);cursor: pointer;user-select: none;transition: .3s}
.ew-g7 {position: fixed;top: 60px;right: 8px;z-index: 99;}

/* Cards */
#dashboard-cardBox .e-card {position: relative;height: 130px !important;background-color: var(--white);}
#dashboard-cardBox .e-card:hover {background-color: var(--blue);color: var(--white);transition: .3s;cursor: pointer;}
#dashboard-cardBox .numbers {font-size: 20px;font-weight: 700;font-family: Consolas,"Courier New",monospace;overflow: hidden;text-overflow: ellipsis;width: 100px;}
#dashboard-cardBox .cardName {font-weight: 600;font-size: 14px;overflow: hidden;text-overflow: ellipsis;width: 120px;}
#dashboard-cardBox .cardInfo {display: flex;font-size: 14px;font-weight: 600;color: var(--red);align-items: center;margin-top: 12px;width: 130px;overflow: hidden;text-overflow: ellipsis;}
#dashboard-cardBox .cardInfo i {margin-right: 5px;}
#dashboard-cardBox .iconBx {position: absolute;top: 50%;right: 10px;width: 40px;height: 40px;padding: 8px;transform: translate(0, -50%);}

::-webkit-scrollbar {width: 10px;height: 10px;background-color: rgb(255, 255, 255);box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px inset, rgba(0, 0, 0, 0.07) -1px -1px 0px inset;}
::-webkit-scrollbar-thumb {min-height: 0.2em;min-width: 0.2em;background-color: #9b9b9b99;box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px inset, rgba(0, 0, 0, 0.07) -1px -1px 0px inset;cursor: default;}
::-webkit-scrollbar-thumb:hover {background-color: #75757599}

@media (max-width: 768px) {
    #dashboard-navigation {width: 60px;border-width: 3px;}
    #dashboard-main {left: 60px;width: calc(100vw - 60px)}
}

@media (max-width: 649px) {
    #dashboard-navigation {width: 0px;border-width: 0px;}
    #dashboard-main {left: 0px;width: 100vw}
}