<!-- Code for student login form -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" type="text/css" href="../css/equery.css">
    <link rel="stylesheet" type="text/css" href="../css/form.css">
    <script src="../js/equery.js"></script>
    <script src="../js/student_login.js"></script>
    <!--style>
        /* icons */
        .fa-id-card,
        .fa-user {
            font-size: 28px;
            color: #287bff;
            line-height: 1.7;
        }

        body {
            background-image: url(https://w0.peakpx.com/wallpaper/554/273/HD-wallpaper-blue-abstract-background-neon-blue-background-abstraction-creative-blue-backgrounds-thumbnail.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100vw;
            margin: 0;
            padding: 0;
        }

        .nav-div {
            position: absolute;
            display: flex;
            background-color: #287bff;
            top: 0;
            left: 0;
            right: 0;
            padding: 15px;
            align-items: center;
            justify-content: space-between;
        }

        h1,
        img,
        i {
            display: inline-block;
        }

        h1 {
            font-family: "Segoe UI", Tahoma, sans-serif;
            display: inline;
            text-transform: capitalize;
            font-size: 25px;
        }

        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: inline;
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f3f3f3;
            border: 1px solid #287bff;
            display: grid;
            align-items: center;
            justify-content: center;
            height: 350px;
            width: 448px;
            color: black;
            border-radius: 5%;
            filter: blur(0.009px);
            justify-items: center;
        }

        h2 {
            font-weight: 300;
            font-size: 18px;
            text-align: center;
            text-decoration: wavy;
            padding: 10px;
        }

        div.input {
            display: flex;
            width: 100%;
            border-bottom: 1px solid #00f;
            margin-bottom: 12px;
        }

        input {
            background-color: transparent;
            border: none !important;
            width: 280px !important;
            padding: 2px !important;
            margin: 8px 0;
            letter-spacing: normal;
            cursor: text;
            outline: none;
            color: #3a3a3a;
            font-size: 14px;
            font-weight: 700;
            transition: .5s;
        }

        input:focus {
            border: 1px solid #287bff;
            border-radius: 5px;
        }

        button {
            padding: 10px;
            width: 100px;
            font-size: larger;
            border-radius: 5px;
            border: 1px solid #287bff;
            float: right;
            background: transparent;
        }

        /* p{
            text-align: center;
            font-size: 17px;
            color: #34a134;
            position: relative;
            
        } */

        .p_2 {
            display: flex;
            text-align: center;
            font-size: 17px;
            color: red;
            position: absolute;
            bottom: 0;
            align-items: center;
            justify-content: center;
        }

        /* media quaries -----------------*/
        @media (max-width: 720px) {

            .fa-id-card,
            .fa-user {
                margin-left: 70px;
                font-size: 20px;
                color: #287bff;
            }

            body {
                background-size: cover;
                background-position: right top;
                background-repeat: no-repeat;
            }

            .nav-div {
                display: flex;
                background-color: #287bff;
                padding: 8px;
                top: 0;
                left: 0;
                right: 0;
            }

            h1 {
                font-size: smaller;
            }

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: inline;
            }

            .img_2 {
                left: 80px;
            }

            /*form {
                border: 1px solid #287bff;
                display: grid;
                align-items: center;
                justify-content: center;
                padding: 15px;
                height: 350px;
                width: 260px;
                color: black;
                border-radius: 5%;
                filter: blur(0.009px);
                justify-items: center;
                margin: 20px 0;
            }*/

            /*
            This had to be removed 
            input{
                background-color: transparent;
                width: 180px !important;
                padding: 2px !important;
                margin: 18px 0;
                letter-spacing: normal;
                cursor: text;
                outline: none;
                color: #3a3a3a;
                font-size: 14px;
                font-weight: 700;
                transition: .5s;
                border-radius: 5px;
            }

            button{
                padding: 10px;
                width: 60px;
                font-size: small;
                border-radius: 5px;
                border: 1px solid #287bff;
                background: transparent;
                position: relative;
                left: 90px;
                bottom: -10px;
            }
            */
        }
    </style-->
</head>

<body>
    <noscript><div class="modal e-tomato e-text-black" style="display: block"><div class="modal-content e-round-22 e-shadow"><div class="container">Please contact an your admin</div></div></div></noscript>
	<div class="e-top e-mob-card nav-div">
        <div class="e-row e-row-padding">
            <div class="top-header-flex">
                <div class="logo-container" style="margin-right: 2px">
                    <img src="../assets/futalogo.png">
                </div>
                <div class="logo-name-container">
                    <a href="/">
                        <img src="../assets/futaname.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main class="e-main e-light-grey" style="margin-top: 50px !important;">
        <div id="login-container" class="clearfix">
            <div class="e-white e-round-16 e-col e-shadow e-center e-round-16">
                <form class="regForm" method="post">
                    <h1>Login</h1>
                    <div>
                        <p class="error e-text-red e-text-center e-bold"></p>
                        <div class="tab" style="display: block;">
                            <label>
                                <b>Login</b>
                            </label>
                            <input name="studentId" type="text" placeholder="Student ID No">
                            <input name="surname" type="text" placeholder="Surname" pattern="(?=.*[a-z])(?=.*[A-Z])">
                        </div>
                    </div>
                </form>
                <div class="container" style="overflow: auto;">
                    <button class="btn btn-padding-large btn-green e-mob-right">Submit</button>
                </div>
                <div class="container" style="background-color: rgb(241, 241, 241); border-radius: 0px 0px 15px 15px;"></div>
            </div>
        </div>
    </main>
    <footer class="e-dark-grey e-border-top e-border-black" style="border-top: 1px solid">
        <div class="e-row">
            <div class="e-col s10">
                <p class="e-text-center" style="margin: 1em 0 !important">Exam Malpractice equals <b>Expulsion!!!</b></p>
            </div>
            <div class="e-col s2">
                <p class="e-opacity e-small">Powered by EQuery</p>
            </div>
        </div>
    </footer>
</body>

</html>
